html {
    background-color: lavenderblush;
}

.content {
    margin: 3rem auto;
    max-width: 600px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.4em;
}

h2 {
    margin-top: 2em;
}

.answer {
    color: #9c9c9c;
}

footer {
    padding: 4em 0 2em 0;
    text-align: center;
    color: #728194;
    font-size: 0.9em;
}
